annotated-types
anyio
click
enka>=2.5.19
fastapi
genshin>=1.7.25
h11
httptools
idna
pydantic
pydantic_core
python-dotenv
PyYAML
sniffio
starlette
typing_extensions
uvicorn
uvloop
watchfiles
websockets
